<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>The Cretan Diet: Snail Stew by Aristea</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="../assets/styles/style.css">

</head>

<body>
<img src="../assets/images/banner.jpg" width="800" height="300">
<div class="maincol">
<h2>Snail Stew by Aristea</h2>
<p><em>In Crete snails are eaten as a main meal, so a  normal serving is about 15-20 snails per person. There are many ways to cook and serve snails. This is a traditional recipe for them. </em></p>
<hr>
<img src="../assets/images/24717722.thb.jpg" width="350" height="229" align="right">
  <h3>Preparing snails </h3>
  <p>Here in Crete we find snails in the wild (see my April 2011 post). Make sure the snails are alive before you cook them – put them in cold water and wait for signs of movement. Take each live snail out of the cold water and throw it immediately into a pot of boiling water. This kills it. </p>
  <h3>Cooking the snails</h3>
  <p>Boil the snails in salted water for 20 minutes, changing the water when it gets slimy. Drain the cooked snails, put them in a bowl and cover them with wine. Leave them to marinate in the wine for two hours. </p>
  <h3>Making the stew</h3>
  <p>As well as the snails you will need:</p>
  <p>1 onion, chopped<br>
    4-6 cloves of garlic, crushed<br>
    3 large ripe tomatoes, chopped or grated<br>
    olive oil<br>
    1 1/2 cups of cracked wheat </p>
  <p>Sauté the onion and garlic in olive oil until soft. Add the chopped  tomatoes and simmer for 10 minutes. Add 4 1/2 cups of water and when  the mixture starts to boil, put in the cracked wheat and some salt. Stir well, then cover the pot and cook the mixture on low heat for 10-12 minutes, stirring frequently. Remove the pot from the heat, stir in the snails, cover the pot and leave the entire dish to settle for 20-30 minutes before serving.
  </p>
  <hr>
  <div class="comments">
    <h2>Reader comments</h2>
  <p>It all sounds a bit cruel and complicated to me. Can't I use ready-prepared snails? <br>
    French Food Fetishist <br>
  </p>
<p>This post is interesting, but I wonder if it's safe to eat all types of snails. Do you know if English garden snails are OK to prepare and eat the same way? <br>
  Janet B<br>
</p>
<p>Hi, I've been enjoying your posts on foraging for and preparing snails. Not something I thought about before, but I may try it! <br>
  backwoodsboy</p>
<p>I like the idea of traditional ingredients and finding your own food, but this recipe looks really time-consuming. Not for a housewife who also holds down a job. <br>
  Janine McD</p>
<p>I LOVE snails! Back home we cook them with coconut milk and shrimp paste. Your recipe sounds delicious too! <br>
  poonambalamK</p>
<p>OMG – you have got to be joking! All that slime and stuff. Just thinking about it makes me feel ill! <br>
  Pattie969</p>
<p>This reminds me of summers in Crete - my grandmother made a dish like this. But I can't see my kids going for it – burgers are more their thing! <br>
  dimitrisdoukakis</p>
<p><a href="#" class="button">Add a comment</a></p>
</div>
<div class="footer">&copy; Aristea</div>
</div>
</body>
</html>
